Reset your Aegis account password

Hi {{ user_name }},

We received a request to reset the password associated with your Aegis workspace account.

Reset your password using the link below:
{{ action_url }}

----------------------------------------------------------------------
SECURITY NOTICE
----------------------------------------------------------------------
• Time-Sensitive Link: This password reset link will expire in 5 minutes.
• Didn't request this change? You can safely ignore this email. Your current password will remain active and secure.

Need additional assistance?
If you suspect unauthorized access to your account, please contact our security team immediately at {{ support_email }}.
