Welcome aboard, {{ user_name }}!

Your Aegis workspace is ready. Click the link below to verify your account and launch your workspace:
{{ action_url }}

If you need help, contact {{ support_email }}.
